.*
__*
*.spec
inputs/*
Downloaded/*
test/*
logs/*
dist/*
src/build
src/dist
main
session.vim
!.gitignore
!inputs/README.md
!Downloaded/README.md
!test/README.md
!logs/README.md
!logs/logging_config.yaml
