.*
!.gitignore
__*
*.spec
inputs/*
!inputs/README.md
!inputs/config_template.yaml
Downloaded/*
!Downloaded/README.md
test/*
!test/README.md
logs/*
!logs/README.md
!logs/logging_config.yaml
src/build
src/dist
main
session.vim
